@charset "UTF-8";
//公共变量
$width:1200px;

$color: #5090e7;
$color2: #429aab;

@mixin float($value:left){
    float: $value;
}

@mixin margin($top:0,$right:auto,$bottom:0,$left:auto){
    margin: {
        top: $top;
        right: $right;
        bottom: $bottom;
        left: $left;
    };
}

@mixin transition($type:all,$time:350ms){
    transition: $type $time;
}

@mixin font-size($value:16){
    font-size: $value + 0px;
    font-size: $value / 10 + 0rem;
}

@mixin placeholder($color:#333){  
    &::-webkit-input-placeholder{
        color:$color;
    }
    &::-moz-placeholder{  
        color:$color;
    }
    &:-moz-placeholder{    
        color:$color;
    }
    &:-ms-input-placeholder{  
        color:$color;
    }
}

@mixin inline-block(){
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

@function get_w($w, $max: 1200, $b: 100){
    @return $w / $max * $b + 0%;
}
